body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000000;
    padding: 40px;
    display: flex;
    background: #E5E5E5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 15px;


}

a {
    text-decoration: none;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;


    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

img {
    display: block;
    height: auto;
    width: 100%;
}