.main {
    display: flex;
}

.left-block {
    padding: 40px;

    width: 370px;
    background: #70829d;
}

.right-block {
    padding-left: 90px;
    padding-top: 105px;
    padding-bottom: 105px;

}

.header__title {
    font-weight: 700;
    font-size: 45px;
    color: #000000;
}

.header__subtitle {
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
    color: #FB6D3A;
}

.summary__title,
.project__title,
.work__title,
.education__title,
.additional-education__title,
.soft-skill__title,
.tech-skill__title,
.contact__title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 22px;
}

.summary__subtitle,
.project__subtitle,
.work__subtitle,
.education__subtitle,
.additional-education__subtitle {
    margin-top: 10px;
    font-size: 16px;
    color: #FB6D3A;

}

.summary__descr,
.project__descr,
.work__descr,
.education__descr,
.additional-education__descr {
    margin-top: 25px;
    font-size: 14px;
    line-height: 1.71;
    width: 400px;
    color: #595959;
}

.work__date,
.education__date,
.additional-education__date {
    margin-top: 10px;
    font-size: 12px;
    color: #A8A8A8;
}

.contact__title,
.tech-skill__title,
.soft-skill__title {
    margin-top: 20px;
}

.contact-list {
    margin-top: 20px;
}

.contact__phone,
.contact__email,
.contact__github,
.contact__linkedin,
.contact__addr {
    font-size: 14px;
    color: #e1e1e1;
}

.contact__item,
.tech-skill__item,
.soft-skill__item {
    margin-top: 15px;
    font-size: 14px;
    color: #e1e1e1;
}